body {background-color: beige;}

h1 {margin: auto;}

table {border-right: 5px solid black;
margin: auto;}

tr {color: gray;
  border: 1px solid blue;
  margin: auto;}

td {border: 1px solid blue;}
iframe {width: 200px;
  height: 200px;}
